
@font-face {
  font-family: "editor";
  src: url("./fonts/editor.eot");
  src: url("./fonts/editor.eot#iefix") format("embedded-opentype"), url("./fonts/editor.ttf") format("truetype"), url("./fonts/editor.woff") format("woff"), url("./fonts/editor.svg#editor") format("svg");
  font-weight: normal;
  font-style: normal;
}
[class^="icon-editor"], [class*=" icon-editor"] {
  font-family: "editor" !important;
  font-size: 15px;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
.icon-editor-html:before {
	content: "\ea00";
}

.icon-editor-table-insert:before {
	content: "\ea1d";
}

.icon-editor-align-center:before {
	content: "\ea01";
}

.icon-editor-align-justify:before {
	content: "\ea02";
}

.icon-editor-align-left:before {
	content: "\ea03";
}

.icon-editor-align-right:before {
	content: "\ea04";
}

.icon-editor-bold:before {
  font-size: 12px;
	content: "\ea05";
}
.icon-editor-color:before {
	content: "\ea06";
}
.icon-editor-embedded:before {
	content: "\ea07";
}
.icon-editor-emoji:before {
	content: "\ea08";
}
.icon-editor-eraser:before {
	content: "\ea09";
}
.icon-editor-font-size:before {
	content: "\ea0a";
}
.icon-editor-image:before {
	content: "\ea0b";
}
.icon-editor-indent:before {
	content: "\ea0c";
}
.icon-editor-italic:before {
	content: "\ea0d";
}
.icon-editor-link:before {
	content: "\ea0e";
}
.icon-editor-list-ordered:before {
	content: "\ea0f";
}
.icon-editor-list-unordered:before {
	content: "\ea10";
}
.icon-editor-monospace:before {
	content: "\ea11";
}
.icon-editor-openlink:before {
	content: "\ea12";
}
.icon-editor-ordered:before {
	content: "\ea13";
}
.icon-editor-outdent:before {
	content: "\ea14";
}
.icon-editor-redo:before {
	content: "\ea15";
}
.icon-editor-strikethrough:before {
	content: "\ea16";
}
.icon-editor-subscript:before {
	content: "\ea17";
}
.icon-editor-superscript:before {
	content: "\ea18";
}
.icon-editor-underline:before {
	content: "\ea19";
}
.icon-editor-undo:before {
	content: "\ea1a";
}
.icon-editor-unlink:before {
	content: "\ea1b";
}

.icon-editor-font-size-a:before {
	content: "\ea2e";
	font-size: 1.5em;
}
.icon-editor-fit-to-width:before {
	content: "\ea2f";
	font-size: 1.5em;
}
.icon-editor-insert-row:before {
	content: "\ea30";
	font-size: 1.5em;
}
.icon-editor-insert-column:before {
	content: "\ea31";
	font-size: 1.5em;
}
.icon-editor-remove-row:before {
	content: "\ea32";
	font-size: 1.5em;
}
.icon-editor-remove-column:before {
	content: "\ea33";
	font-size: 1.5em;
}
